$brown_clor:#704010;
$wid_100:100%;
$w_color:#fff;
$h2_size:46px;
$weight_700:700;
$p_size:18px;
$weight_300:300;
$h6_size:22px;
$radius_img:20px;
$y_color:#F8CB2E;
$radius_100:100%;
$dark_color:#000000;
$gray_color:#717275;
$ground_white:rgba(255, 255, 255, 0.75);
$ground_yellow:rgba(248, 203, 46, 0.75);